@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form asp-action="Split" method="post">
        <div class="input-group">
            <input type="file" class="form-control-file"/>
        </div>
        <button class="btn btn-sm btn-primary" type="submit">Baixar</button>
    </form>
</div>

