@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form asp-action="Split" enctype="multipart/form-data" method="post">
        <div class="input-group">
            <input asp-for="Pdf" type="file" enctype="multipart/form-data" class="form-control-file"/>
        </div>
        <button class="btn btn-sm btn-primary" type="submit">Baixar</button>
    </form>
</div>

